Package: dev.theos.orion${SUBPKG_ID}
Name: Orion (${SUBPKG_NAME})
Depends: ${SUBPKG_FW}, mobilesubstrate (>= 0.9.5000)
Version: 1.0.0
Provides: dev.theos.orion (= ${PKG_VERSION})
Architecture: iphoneos-arm
Description: Runtime for tweaks built using Orion and Swift
Maintainer: Theos Team <theos@kabiroberai.com>
Author: Theos Team <theos@kabiroberai.com>
Section: System
Tag: role::developer
