Package: dev.theos.orion
Name: Orion
Depends: firmware (>= 12.2), mobilesubstrate (>= 0.9.5000)
Version: 1.0.0~beta1
Architecture: iphoneos-arm
Description: The Orion library for Swift tweak support
Maintainer: Theos Team <theos@kabiroberai.com>
Author: Theos Team <theos@kabiroberai.com>
Section: System
Tag: role::developer
