name: Build and Test

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: macos-12
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
